<%= image_tag "line_across.png",:size => "900x4", :alt => "", :class => 'line_across' %>

<div id='home_intro'><%= image_tag "M.png",  :size => "25x25", :alt => "M" %>ears Office Interiors are Interior Designers that offer a distinctly creative perspective on commercial Interior Design. The Team at Mears draws on their vast years of experience and has a 'hands on' and interactive approach to interior design on a corporate level. Making sure stakeholders are involved in each step of the project from conceptual designs, all the way through to final updates and extras. We pride ourselves in delivering a top quality service on a bespoke level as all clients' needs are unique. Whether you are about to create a new working space, re-invent a current office space or just refurnish, we can help you. Please feel free to browse our site or contact us for more information on our services and products. </div>

<!-- Headings and respective idcons. also ertical partitionning lines -->
<%= image_tag "line_across.png",:size => "900x4", :alt => "", :class => 'line_across_bottom' %>
<br/>
<div id='headings_home'>
	<span class='deisgn_home_heading'>
		<%= image_tag "design_board_home.png", :size => "45x45",:alt => "", :class => '' %>
		<%= image_tag "Design.jpg", :alt => "", :class => 'deisgn' %>
	</span>
	<%= image_tag "line_down.png", :alt => "", :class => 'line_down1 right' %>
	<span class='fitout_home_heading'>
		<%= image_tag "colourful-puzzle.jpg", :size => "45x45",:alt => "", :class => '' %>
		<%= image_tag "fit_out_home.jpg", :alt => "", :class => 'fth' %>
	</span>
	<%= image_tag "line_down.png", :alt => "", :class => 'line_down2 right' %>
	<span class='office_furniture_home_heading'>
		<%= image_tag "orange_furniture_home.png", :size => "45x45",:alt => "", :class => '' %>
		<%= image_tag "office_furniture_home.jpg", :alt => "", :class => 'ofh' %>
	</span>
</div>

<!-- content for three headings -->
<div class='design_home_content left' >Mears is committed to providing space planning and interior design services in the earliest stages of new construction, renovation or relocation projects. We work with professionals on the design team to create cohesive designs, bid and construction documents. <br></br> Mears has a commitment to continuing education and utilising the latest technology to keep with the latest trends and modern design concepts. When it comes to design ...
	<br/>
	<a href="/home/services#design"><%= image_tag "Read_More_Button.png", :alt => "", :style => "position:relative; left:-10px"%></a>
</div>
<div class='fitout_home_content left'>At Mears, we create a company that offers quality service and superior craftsmanship throughout the project. No matter the budget size, we concentrate on delivering value for every paying customer. <br/><br/> We are Partitioning experts for any size Refurbishment of all types of Offices, as well as being able to offer a Project Management service to keep the process as simple as possible allowing you to continue with your own business, with peace of mind. <br/>
<a href="/home/services#fit_out"><%= image_tag "Read_More_Button.png", :alt => "", :style => "position:relative; left:-10px" %></a>
</div>

<div class='chairs_pic left'>
	<div id="capslide_img" class="ic_container left">
		<%= image_tag "orange_chairs.jpg",:size =>"311x233", :alt => "" %>
	    <div class="overlay" style="display:none;" ></div>
	    <div class="ic_caption" id='orange_chair_cap'>
	        <p class="ic_category"></p>
	        <h3>Product Gallery</h3>
	        <p class="ic_text">
	          A gallery of selected furniture brands. 
						Selected by Mears through experience and the focus to deliver only the best quality office furniture possible, regardless of budget.
						Gallery Coming Soon!
	        </p>
	    </div>
	</div>
</div>





