<%= image_tag "line_across.png",:size => "900x4", :alt => "", :class => 'line_across' %>
<div style='position:relative;top:5px;left:40%;width:300px' ><%= image_tag "service_heads/services_main.png", :size => "153x41", :alt => "", :class => 'line_across', :id => "menu_top_service" %></div><br/>

<div id="service_page_links" style='position:relative;top:8px;left:14%;width'>
	<a href="/home/services#design"><%= image_tag "service_heads/design_service_head.png",:size => "", :alt => "" %></a>
	<a href="/home/services#fit_out"><%= image_tag "service_heads/fitout_service_head.png",:size => "", :alt => "" %></a>
	<a href="/home/services#refurbishments"><%= image_tag "service_heads/refurbishments_service_head.png",:size => "", :alt => "" %></a>
		<a href="/"><%= image_tag "service_heads/service_home.png",:size => "22x22", :alt => "", :style => "position:relative; top:-5px"  %></a>
	<a href="/home/services#relocations"><%= image_tag "service_heads/relocations_service_head.png",:size => "", :alt => ""  %></a>
	<a href="/home/services#dilapidations"><%= image_tag "service_heads/dilapidations_service_head.png",:size => "", :alt => "" %></a>
	<a href="/home/services#leasing"><%= image_tag "service_heads/leasing_service_head.png",:size => "", :alt => "" %></a>
</div>

<%= image_tag "line_across.png",:size => "900x4", :alt => "", :class => 'line_across spacer' %>

<div id="services_content">
	<div id='design' class='left clear_right '>
		<div class='headings_and_pic'>
			<%= image_tag "design_board_home.png", :size => "45x45",:alt => "", :class => '' %>
			<a href="#menu_top_service">
			<%= image_tag "back_to_top.png", :size => "25x25",:alt => "", :class => 'right back_to_top' %></a>
  <%= image_tag "service_heads/design_service_headings_for_icons.png", :alt => "" %>
		</div>
		<p>
			Mears is committed to providing space planning and interior design services in the earliest stages of new office construction, renovation or relocation projects. We work with professionals on the design team to create cohesive designs, bid and construction documentation. Mears has a commitment to continuing education and utilising the latest technology to keep with the latest trends and modern design concepts. When it comes to design we are at the top of our game and strive to maintain a high level of innovative thinking and quality design. Below is a list of the core products and services Mears offers for a given project:
		</p>
		<ul class='left navlist' style="width:350px;padding-left:30px">
			<li>Site Surveys and Audits</li>
			<li>AutoCAD Space Planning and Design</li>
			<li>3D Computerised Renderings/Visuals</li>
			<li>Floor Layouts</li>
			<li>Mood Boards</li>
		</ul>
		<ul class='left clear_right navlist'>
			<li>Finishes Boards</li>
			<li>Electrical Layouts</li>
			<li>Ceiling Layouts</li>
			<li>Air Conditional Layouts</li>
			<li>Lighting Layouts</li>
		</ul>
	</div>

	<%= image_tag "line_across.png",:size => "900x4", :alt => "", :class => 'line_across ' %>

	<div id='fit_out' class='left spacer'>
		<div class='headings_and_pic'>
			<%= image_tag "colourful-puzzle.jpg", :size => "45x45",:alt => "" %>
			<a href="#menu_top_service"><%= image_tag "back_to_top.png", :size => "25x25",:alt => "", :class => 'right back_to_top' %></a>
			<%= image_tag "service_heads/fitout_service_headings_for_icons.png", :alt => "", :style => "position:relative; top:-3px"  %>
		</div>
		<p>
			At Mears, we strive to offer quality service and superior craftsmanship throughout the project. No matter the budget size, we concentrate on delivering value for every paying customer. We are Partitioning experts  and we can handle any size office refurbishment. We are also able to offer a Project Management service to keep the process as simple as possible allowing you to continue with your own business, with peace of mind.<br/><br/>
			We have strong relationships with both subcontractors and suppliers that assist us with our impeccable service and
			 keeping to programme.
			We have a Health and Safety Plan to Isolate, Minimise and Eliminate any hazards within the work place.
			 We are "Site Safe" accredited members and encourage our subcontractors accordingly. Below is a list of services we offer in terms of fitout:
		</p>
			<ul class='left navlist' style="width:350px; padding-left:30px;">
				<li>Partitioning(Glazed, Solid, Bespoke)</li>
				<li>Ceilings</li>
				<li>Electrical</li>
				<li>Air Conditioning</li>
				<li>Plumbing</li>
				<li>Project Management</li>
				<li>Flooring</li>
			</ul>
			<ul class='left navlist'>
				<li>Decoration</li>
				<li>Manifestation</li>
				<li>Signage</li>
				<li>Window Blinds</li>
				<li>Mezzanines</li>
				<li>Office Furniture</li>
				<li>Office Accessories</li>
			</ul>		
	</div>
	<%= image_tag "line_across.png",:size => "900x4", :alt => "", :class => 'line_across ' %>
	<div id='heloo'>&nbsp;</div>
	
	<div id="refurbishments" class='spacer' >
		<div class='headings_and_pic'>
			<%= image_tag "refurbishments_pic.png", :size => "50x45",:alt => "", :class=> "left" %>
			<a href="#menu_top_service"><%= image_tag "back_to_top.png", :size => "25x25",:alt => "", :class => 'right back_to_top' %></a>
			<%= image_tag "service_heads/refurbishments_service_headings_for_icons.png",:alt => "", :style => "position:relative; top:2px"  %>
		</div>
		<p>
			Whether your office or warehouse needs refurbishing - we are able to provide new installations for partitioning,
			 ceilings and much more for your office or warehouse refurbishment. 
			All projects are carried out from start to finish with the same team of professional staff who will provide 
			you with complete satisfaction in the finished project.
		</p>

		<ul class='navlist' style='padding-left:30px'>
			<li>Office Furniture</li>
			<li>Feature Walling</li>
			<li>Dropped/ Recessed Ceilings</li>
			<li>Feature Receptions</li>
		</ul>
	</div>
	<%= image_tag "line_across.png",:size => "900x4", :alt => "", :class => 'line_across ' %>
	
	<div id='relocations' class='spacer'>
		<div class='headings_and_pic'>
			<%= image_tag "relocations_pic.png", :size => "45x45",:alt => "" %>
			<a href="#menu_top_service"><%= image_tag "back_to_top.png", :size => "25x25",:alt => "", :class => 'right back_to_top' %></a>
			<%= image_tag "service_heads/relocations_service_headings_for_icons.png", :alt => "", :style => "position:relative; left:3px"  %>
		</div>
		<p>
			The most important part of office removals that we have learnt is minimising trading downtime. 
			Every minute lost is lost revenue for your business. We have a team with ample experience and resources behind us to conduct a precise Office Relocation. Listed below are some of the services we offer in this department:
		<ul class='navlist' style='padding-left:30px'>
			<li>Precision planning (by an experienced planner)</li>
			<li>Removalists high level of skill and experience on-site</li>
			<li>Expert on-site supervision</li>
			<li>Enough high quality trucks, removalists and tailor made office relocation equipment</li>
			<li>Proper protection</li>
			<li>Packaging crates</li>
		</ul>
		</p>
	</div>
	<%= image_tag "line_across.png",:size => "900x4", :alt => "", :class => 'line_across ' %>
	
	<div id='dilapidations' class='spacer'>
		<div class='headings_and_pic'>
			<%= image_tag "delapidations_pic.png", :size => "47x47",:alt => "", :class => '' %>
			<a href="#menu_top_service"><%= image_tag "back_to_top.png", :size => "25x25",:alt => "", :class => 'right back_to_top' %></a>
			<%= image_tag "service_heads/dilapidations_service_headings_for_icons.png", :alt => "", :style => "position:relative; top:-1px; left:-4px"  %>
		</div>
		<p>
			When a business leaves an office building or commercial site, there is usually a legal obligation under the lease 
			to restore the space to its original condition. Our team will offer the most sustainable approach to office dilapidation. We will help ensure that you are able to fully comply with all your landlord obligations in the most financially and environmentally sustainable way. A list of some of the services we offer to achieve these goals:
		</p>

	<ul class='navlist' style='padding-left:30px'>	
		<li>Environmental Clearance</li>
		<li>Reuse/resale of unwanted office furniture and equipment</li>
		<li>Refurbishment of furniture for further use</li>
		<li>Donation of furniture and equipment through designated charities.</li>
		<li>Separation of carpet and textiles for reuse/recycling</li>
		<li>WEEE and IT recycling</li>
		<li>Segregation of all waste materials for recycling and energy recovery</li>
		<li>Building Reinstatement</li>
		<li>Uplifting of all data cabling</li>
		<li>Removal of walls, partitions, canteens</li>
		<li>Removal of all unwanted fixtures and fittings</li>
		<li>Making good to specifications</li>
		<li>Any re installation requirements</li>
		<li>Redecoration</li>
		<li>Carpet replacement</li>
		<li>Ceiling replacement</li>
	</ul>
	</div>
	<%= image_tag "line_across.png",:size => "900x4", :alt => "", :class => 'line_across ' %>
	<div id='leasing'  class='spacer'>
		<div class='headings_and_pic'>
			<%= image_tag "leasing_pic.png", :size => "47x47",:alt => "", :class => '' %>
			<a href="#menu_top_service"><%= image_tag "back_to_top.png", :size => "25x25",:alt => "", :class => 'right back_to_top' %></a>
			<%= image_tag "service_heads/leasing_service_headings_for_icons.png", :alt => "", :style => "position:relative; top:-5px" %>
		</div>
		Mears offer their customers the opportunity to purchase through a range of leasing options.
		Working with a highly recommended leasing company - Mears will find the financial solution for our clients. Helping you maintain a competitive edge is key to the tailored service you will receive; leasing allows all customers to be in control
		 of their cash flow, maintain manageable monthly repayments and reap the benefits of government tax breaks.
	</div>
</div>
